<form action='/celebrities/:id/edit' method="post">
 <label for="">Name:</label>
    <input required type="text"  name="name"  placeholder="{{celebrity.name}}">
    <br/>
    <label for="">Occupation:</label>
    <input required type="text" name="occupation" placeholder="{{celebrity.occupation}}">
     <br/>
    <label for="">catchPhrase:</label>
    <input required type="text" name="catchPhrase"  placeholder="{{celebrity.catchPhrase}}">
     <br/>
   <button type="submit">Submit</button>
</form>
