<h2>Homepage</h2>
<form action="/celebrities/create" method="post">
    <label for="">Name:</label>
    <input type="text" name="celebrityName">
    <br/>
    <label for="">Occupation:</label>
    <input type="text" name="occupation">
     <br/>
    <label for="">CatchPhrase:</label>
    <input type="text" name="celwbrityphrase">
     <br/>
    <button type="submit">Add New Celebrity</button>
</form>
