<h1>Homepage</h1>
<form action="/celebrities/create" method="post">
    <label for="">Name:</label>
    <input required type="text"  name="name" >
    <br/>
    <label for="">Occupation:</label>
    <input required type="text" name="occupation">
     <br/>
    <label for="">CatchPhrase:</label>
    <input required type="text" name="catchPhrase">
     <br/>
    <button type="submit">Add New Celebrity</button>
</form>
