{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p> --}}

   <a href='/celebrities/create/{{id}}'>Create your favourite celebrity bio</a> <br>
   <a href='/celebrities'>Check celebrities bio</a> <br>

<h6>Movies</h6>
    <a href='/movies/create/{{id}}'>Add Movies</a> <br>
      <a href='/movies'>Check Movies</a> 
